locale/locale.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="language">
		<xs:complexType>
		  <xs:sequence>
			<xs:element name="loctext" minOccurs="0" maxOccurs="unbounded">
			  <xs:complexType>
			    <xs:sequence>
				  <xs:element name="text" type="xs:string"/>
			    </xs:sequence>
			    <xs:attribute name="id" type="xs:string" use="required" />
			  </xs:complexType>
			</xs:element> 
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
</xs:element>
</xs:schema>